<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/stylesheets/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/lib/admin-lte/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
  <link rel="stylesheet" href="/stylesheets/skin-blue.min.css">

  </head>
  <body class="hold-transition skin-blue sidebar-mini">
      <div class="wrapper">
      
        <!-- Main Header -->
        <% include header.ejs %>
        <!-- Left side column. contains the logo and sidebar -->
        <% include mune.ejs %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">修改Banner数据</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal" enctype="multipart/form-data" action = "/banner/updateBannerAction" method="post">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="inputEmail1" class="col-sm-2 control-label">类型</label>
      
                        <div class="col-sm-10">
                          <input type="text" readonly class="form-control" id="inputEmail1" name="bannerType" value="<%= result[0].bannerType %>">       
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="inputEmail1" class="col-sm-2 control-label">ID</label>
        
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail1" name="id" value="<%= result[0].id %>">       
                          </div>
                        </div>
                      <div class="form-group">
                          <label for="inputEmail2" class="col-sm-2 control-label">上传图片</label>
        
                          <div class="col-sm-10">
                            <input type="file" class="form-control" id="inputEmail2" name="bannerImg" value="<%= result[0].bannerImg %>">       
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="inputEmail3" class="col-sm-2 control-label">链接地址</label>
        
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail3" name="bannerSrc" value="<%= result[0].bannerSrc %>">       
                          </div>
                      </div>               
                    </div>
                    <div class="box-footer">
                        <a href="/banner?bannerType=<%= bannerType %>"class="btn btn-default">取消</a>
                        <button type="submit" class="btn btn-info pull-right">上传</button>
                    </div>
                  </form>    
          </section>
      
          <!-- Main content -->
          <section class="content">
      
            <!-- Your Page Content Here -->
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
        <!-- Main Footer -->
        <footer class="main-footer">
          <!-- To the right -->
          <div class="pull-right hidden-xs">
            Anything you want
          </div>
          <!-- Default to the left -->
          <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>
      
        <!-- Control Sidebar -->
        <% include active.ejs %>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
      </div>
      <!-- ./wrapper -->
      
      <!-- REQUIRED JS SCRIPTS -->
      
      <!-- jQuery 2.2.3 -->
      <script src="/javascripts/jquery-2.2.3.min.js"></script>
      <!-- Bootstrap 3.3.6 -->
      <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- AdminLTE App -->
      <script src="/lib/admin-lte/dist/js/app.min.js"></script>
      
      <!-- Optionally, you can add Slimscroll and FastClick plugins.
           Both of these plugins are recommended to enhance the
           user experience. Slimscroll is required when using the
           fixed layout. -->
      </body>
</html>
